### Research Question: What is the relationship between internet access benefit uptake and SNAP benefit uptake?

#### NOTES

Background from BDT: Lifeline is an older FCC program that helps make communications services more affordable for low-income consumers (source: https://www.fcc.gov/lifeline-consumers). There is a new FCC program called Affordable Connectivity Program (ACP) that helps ensure that households can afford the broadband they need for work, school, healthcare and more that replaced the Emergency Broadband Benefit (EBB) program. (source: https://www.fcc.gov/acp) Given ACP is newer and offers more benefits the priority is to look at ACP benefit enrollment versus SNAP benefit enrollment by geo (i.e. county). This will allow BDT to understand if there are specific regions where ACP enrollment is low relative to SNAP because being enrolled in SNAP is a qualifier for ACP. This comparison will need to use household data for SNAP because ACP is a household benefit.

Locations of Data: ACP data is available at https://www.usac.org/about/affordable-connectivity-program/acp-enrollment-and-claims-tracker/#enrollment-and-claims-by-zipcode-and-county for 2022 (and there is a data dictionary at https://www.usac.org/wp-content/uploads/about/documents/acp/Data-Dictionary.pdf). SNAP data is located at https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap.

Challenge: To understand current gaps it is ideal to look at the most recent data available and the lowest common geo granularity (county). ACP data is available at the county level and has very recent data available for this level- September 2022. SNAP data at the county level has a significant lag- most recent data is July 2021 (over a year older). This presents a gap in this analysis since a household enrolled in SNAP over a year ago may no longer be enrolled in SNAP or may have moved from that county. A comparison is made between the two but it is heavily caveated by the large time difference in the data points which may or may not provide useful directional trends. Also, it is recommended to redo this analysis with newer SNAP data once it is available.

Geography: BDT currently operates in these 7 states- Colorado, Maryland, Michigan, New York, North Carolina, Pennsylvania, and South Carolina.

#### Open Questions: 1. Is it beneficial to compare old SNAP data with current ACP data? 2.The SNAP data divides persons and households into Public Assistance Participation and Non Public Assistance Participation. Currently the assumption is to use the combined Public Assistance Participation and Non Public Assistance Participation ("Calc: SNAP Total PA and Non-PA Households") to get the total households using SNAP. Is this valid? 3. There are some counties redacted in ACP data: \**NOT AVAILABLE**. How should this be handled?

#### DATA LOAD

In [159]:
#import libraries
import pandas as pd

In [226]:
#import data
acp=pd.read_excel ('../data-sources/acp/ACP-Households-by-County-January-September-2022.xlsx',dtype={'State FIPS': object}) #acp data
sjul21=pd.read_excel ('../data-sources/snap/Jul-2021.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2021 snap data
sjul20=pd.read_excel ('../data-sources/snap/Jul-2020.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2020 snap data
sjan21=pd.read_excel ('../data-sources/snap/Jan-2021.xls',skiprows=3,usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #January 2021 snap data

#### ACP DATA EXPLORATION

In [227]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,01,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,01,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,01,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,01,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,01,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0

In [228]:
acp.tail()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
29432,2022-09-01,PR,PUERTO RICO,**NOT AVAILABLE**,72,**NOT AVAILABLE**,0.0,0.0,55.0,24.0,79.0,0.0,0.0,142.0,115.0,257.0
29433,2022-09-01,VI,VIRGIN ISLANDS,ST. CROIX ISLAND,78,010,0.0,0.0,2.0,305.0,307.0,0.0,1.0,105.0,1596.0,1702.0
29434,2022-09-01,VI,VIRGIN ISLANDS,ST. JOHN ISLAND,78,020,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,22.0,22.0
29435,2022-09-01,VI,VIRGIN ISLANDS,ST. THOMAS ISLAND,78,030,0.0,0.0,-1.0,139.0,138.0,0.0,0.0,81.0,1112.0,1193.0
29436,2022-09-01,VI,VIRGIN ISLANDS,**NOT AVAILABLE**,78,**NOT AVAILABLE**,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,3.0,3.0

In [229]:
acp.dtypes

Data Month                                              datetime64[ns]
State                                                           object
State Name                                                      object
County Name                                                     object
State FIPS                                                      object
County FIPS                                                     object
Net New Enrollments Alternative Verification Process           float64
Net New Enrollments Verified by School                         float64
Net New Enrollments Lifeline                                   float64
Net New Enrollments National Verifier Application              float64
Net New Enrollments total                                      float64
Total Alternative Verification Process                         float64
Total Verified by School                                       float64
Total Lifeline                                                 float64
Total National Verifier Application                            float64
Total Subscribers                                              float64
dtype: object

In [230]:
acp.describe(include='all')

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
count,29437,29437,29437,29437,29437,29437,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000
unique,9,56,56,1967,56,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-07-01 00:00:00,TX,TEXAS,**NOT AVAILABLE**,48,**NOT AVAILABLE**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3280,2290,2290,483,2290,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,58.882691,-0.027824,16.534058,96.451299,171.840224,893.840156,2.115713,1517.046781,1265.441345,3678.443995
std,NaN,NaN,NaN,NaN,NaN,NaN,361.515105,0.846077,318.228748,421.212930,741.299169,4182.876818,12.370113,5781.753065,5029.129687,13950.190310
min,NaN,NaN,NaN,NaN,NaN,NaN,-1533.000000,-24.000000,-27109.000000,-3366.000000,-7237.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,-4.000000,4.000000,6.000000,1.000000,0.000000,87.500000,85.000000,222.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2.000000,18.000000,33.000000,25.000000,0.000000,337.000000,289.000000,817.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,0.000000,19.000000,61.000000,121.000000,462.000000,1.000000,1015.000000,858.000000,2555.500000
max,NaN,NaN,NaN,NaN,NaN,NaN,20481.000000,45.000000,7861.000000,20929.000000,42768.000000,214701.000000,352.000000,195775.000000,211815.000000,574801.000000

#### ACP DATA CLEANUP

In [231]:
#concatenate State and Country FIPS
acp['FIPS'] = acp['State FIPS'].astype(str) + acp['County FIPS'].astype(str)

In [232]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers,FIPS
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,01,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0,01001
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,01,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0,01003
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,01,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0,01005
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,01,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0,01007
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,01,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0,01009

In [233]:
#reduce columns
acp = acp[['Data Month', 'State Name','County Name','FIPS','Total Subscribers']].copy()

In [234]:
#check for null
acp.isnull().values.any()

True

In [235]:
#inspect null
acp[acp['Total Subscribers'].isnull()]

,Data Month,State Name,County Name,FIPS,Total Subscribers
23209,2022-08-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,NaN
26489,2022-09-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,NaN

In [236]:
#fill NaN
acp['Total Subscribers'] = acp['Total Subscribers'].fillna(0)

In [237]:
#convert subscribers to integer
acp['Total Subscribers'] = acp['Total Subscribers'].astype(int)

In [238]:
acp.dtypes

Data Month           datetime64[ns]
State Name                   object
County Name                  object
FIPS                         object
Total Subscribers             int32
dtype: object

In [239]:
#extract latest acp data (September 2022)
asep22 = acp[acp['Data Month']=='2022-09-01 00:00:00']

In [240]:
#inspect rows with County Name **NOT AVAILABLE** 
asep22[asep22['County Name']=='**NOT AVAILABLE**']

,Data Month,State Name,County Name,FIPS,Total Subscribers
26225,2022-09-01,ALABAMA,**NOT AVAILABLE**,01**NOT AVAILABLE**,32
26258,2022-09-01,ALASKA,**NOT AVAILABLE**,02**NOT AVAILABLE**,2
26274,2022-09-01,ARIZONA,**NOT AVAILABLE**,04**NOT AVAILABLE**,152
26350,2022-09-01,ARKANSAS,**NOT AVAILABLE**,05**NOT AVAILABLE**,25
26409,2022-09-01,CALIFORNIA,**NOT AVAILABLE**,06**NOT AVAILABLE**,21
26474,2022-09-01,COLORADO,**NOT AVAILABLE**,08**NOT AVAILABLE**,25
26483,2022-09-01,CONNECTICUT,**NOT AVAILABLE**,09**NOT AVAILABLE**,6
26487,2022-09-01,DELAWARE,**NOT AVAILABLE**,10**NOT AVAILABLE**,2
26489,2022-09-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,0
26557,2022-09-01,FLORIDA,**NOT AVAILABLE**,12**NOT AVAILABLE**,24
26717,2022-09-01,GEORGIA,**NOT AVAILABLE**,13**NOT AVAILABLE**,52
26766,2022-09-01,IDAHO,**NOT AVAILABLE**,16**NOT AVAILABLE**,7
26869,2022-09-01,ILLINOIS,**NOT AVAILABLE**,17**NOT AVAILABLE**,54
26962,2022-09-01,INDIANA,**NOT AVAILABLE**,18**NOT AVAILABLE**,28
27062,2022-09-01,IOWA,**NOT AVAILABLE**,19**NOT AVAILABLE**,5
27168,2022-09-01,KANSAS,**NOT AVAILABLE**,20**NOT AVAILABLE**,6
27289,2022-09-01,KENTUCKY,**NOT AVAILABLE**,21**NOT AVAILABLE**,48
27354,2022-09-01,LOUISIANA,**NOT AVAILABLE**,22**NOT AVAILABLE**,38
27371,2022-09-01,MAINE,**NOT AVAILABLE**,23**NOT AVAILABLE**,2
27396,2022-09-01,MARYLAND,**NOT AVAILABLE**,24**NOT AVAILABLE**,10
27411,2022-09-01,MASSACHUSETTS,**NOT AVAILABLE**,25**NOT AVAILABLE**,15
27495,2022-09-01,MICHIGAN,**NOT AVAILABLE**,26**NOT AVAILABLE**,21
27583,2022-09-01,MINNESOTA,**NOT AVAILABLE**,27**NOT AVAILABLE**,20
27666,2022-09-01,MISSISSIPPI,**NOT AVAILABLE**,28**NOT AVAILABLE**,28
27782,2022-09-01,MISSOURI,**NOT AVAILABLE**,29**NOT AVAILABLE**,32
27839,2022-09-01,MONTANA,**NOT AVAILABLE**,30**NOT AVAILABLE**,5
27927,2022-09-01,NEBRASKA,**NOT AVAILABLE**,31**NOT AVAILABLE**,3
27945,2022-09-01,NEVADA,**NOT AVAILABLE**,32**NOT AVAILABLE**,3
27956,2022-09-01,NEW HAMPSHIRE,**NOT AVAILABLE**,33**NOT AVAILABLE**,1
27978,2022-09-01,NEW JERSEY,**NOT AVAILABLE**,34**NOT AVAILABLE**,12
28012,2022-09-01,NEW MEXICO,**NOT AVAILABLE**,35**NOT AVAILABLE**,109
28075,2022-09-01,NEW YORK,**NOT AVAILABLE**,36**NOT AVAILABLE**,34
28176,2022-09-01,NORTH CAROLINA,**NOT AVAILABLE**,37**NOT AVAILABLE**,35
28229,2022-09-01,NORTH DAKOTA,**NOT AVAILABLE**,38**NOT AVAILABLE**,2
28318,2022-09-01,OHIO,**NOT AVAILABLE**,39**NOT AVAILABLE**,40
28396,2022-09-01,OKLAHOMA,**NOT AVAILABLE**,40**NOT AVAILABLE**,44
28433,2022-09-01,OREGON,**NOT AVAILABLE**,41**NOT AVAILABLE**,6
28501,2022-09-01,PENNSYLVANIA,**NOT AVAILABLE**,42**NOT AVAILABLE**,26
28507,2022-09-01,RHODE ISLAND,**NOT AVAILABLE**,44**NOT AVAILABLE**,5
28554,2022-09-01,SOUTH CAROLINA,**NOT AVAILABLE**,45**NOT AVAILABLE**,10
28622,2022-09-01,SOUTH DAKOTA,**NOT AVAILABLE**,46**NOT AVAILABLE**,7
28718,2022-09-01,TENNESSEE,**NOT AVAILABLE**,47**NOT AVAILABLE**,45
28973,2022-09-01,TEXAS,**NOT AVAILABLE**,48**NOT AVAILABLE**,73
29003,2022-09-01,UTAH,**NOT AVAILABLE**,49**NOT AVAILABLE**,10
29151,2022-09-01,VIRGINIA,**NOT AVAILABLE**,51**NOT AVAILABLE**,29
29191,2022-09-01,WASHINGTON,**NOT AVAILABLE**,53**NOT AVAILABLE**,8
29247,2022-09-01,WEST VIRGINIA,**NOT AVAILABLE**,54**NOT AVAILABLE**,17
29320,2022-09-01,WISCONSIN,**NOT AVAILABLE**,55**NOT AVAILABLE**,11
29344,2022-09-01,WYOMING,**NOT AVAILABLE**,56**NOT AVAILABLE**,2
29348,2022-09-01,AMERICAN SAMOA,**NOT AVAILABLE**,60**NOT AVAILABLE**,1
29353,2022-09-01,NORTHERN MARIANA ISLANDS,**NOT AVAILABLE**,69**NOT AVAILABLE**,1
29432,2022-09-01,PUERTO RICO,**NOT AVAILABLE**,72**NOT AVAILABLE**,257
29436,2022-09-01,VIRGIN ISLANDS,**NOT AVAILABLE**,78**NOT AVAILABLE**,3

In [241]:
asep22[asep22['County Name']=='**NOT AVAILABLE**']['State Name'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA',
       'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA',
       'WISCONSIN', 'WYOMING', 'AMERICAN SAMOA',
       'NORTHERN MARIANA ISLANDS', 'PUERTO RICO', 'VIRGIN ISLANDS'],
      dtype=object)

In [242]:
asep22.head()

      Data Month State Name     County Name   FIPS  Total Subscribers
26158 2022-09-01    ALABAMA  AUTAUGA COUNTY  01001               2944
26159 2022-09-01    ALABAMA  BALDWIN COUNTY  01003               3603
26160 2022-09-01    ALABAMA  BARBOUR COUNTY  01005               2764
26161 2022-09-01    ALABAMA     BIBB COUNTY  01007                697
26162 2022-09-01    ALABAMA   BLOUNT COUNTY  01009               1799

In [244]:
asep22.dtypes

Data Month           datetime64[ns]
State Name                   object
County Name                  object
FIPS                         object
Total Subscribers             int32
FIPS Code                    object
dtype: object

In [266]:
asep22.describe(include='all')

,Data Month,State Name,County Name,FIPS,Total Subscribers,FIPS Code
count,3279,3279,3279,3279,3279.000000,3279
unique,1,56,1963,3279,NaN,3279
top,2022-09-01 00:00:00,TEXAS,**NOT AVAILABLE**,01089,NaN,01089
freq,3279,255,53,1,NaN,1
first,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN
last,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,4301.413236,NaN
std,NaN,NaN,NaN,NaN,16051.487507,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,260.000000,NaN
50%,NaN,NaN,NaN,NaN,979.000000,NaN
75%,NaN,NaN,NaN,NaN,3017.000000,NaN
max,NaN,NaN,NaN,NaN,574801.000000,NaN

#### SNAP DATA EXPLORATION

In [214]:
sjul21.head()

                    Substate/Region  JUL21 SNAP Households FIPS Code
0  0100101 AL EBT AUTAUGA CO FS OFF                   3522     01001
1  0100301 AL EBT BALDWIN CO FS OFF                   9311     01003
2  0100501 AL EBT BARBOUR CO FS OFF                   2778     01005
3     0100701 AL EBT BIBB CO FS OFF                   1696     01007
4   0100901 AL EBT BLOUNT CO FS OFF                   2911     01009

In [197]:
sjul21.tail()

                     Substate/Region Calc: SNAP Total PA and Non-PA Households
2641  5600002 WY EBT WYOMING SD PASS                                     13496
2642                    U.S. Summary                                  22344689
2643                             NaN                                       NaN
2644                             NaN                                       NaN
2645                             NaN                                       NaN

#### SNAP DATA CLEANUP

In [248]:
#remove summary line
sjul21=sjul21[sjul21['Substate/Region'] != 'U.S. Summary']

In [249]:
#remove empty rows
sjul21=sjul21.dropna(how='all')

In [250]:
sjul21.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,185
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,555
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,102
2640,5515501 WI EBT POTAWATOMI TRIBE,18
2641,5600002 WY EBT WYOMING SD PASS,13496

In [251]:
#extract FIPS code
sjul21['FIPS Code']=sjul21['Substate/Region'].str[:5]

In [252]:
sjul21.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households,FIPS Code
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,185,55149
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,555,55151
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,102,55153
2640,5515501 WI EBT POTAWATOMI TRIBE,18,55155
2641,5600002 WY EBT WYOMING SD PASS,13496,56000

In [253]:
sjul21.dtypes

Substate/Region                              object
Calc: SNAP Total PA and Non-PA Households    object
FIPS Code                                    object
dtype: object

In [254]:
# find blank values
sjul21[sjul21['Calc: SNAP Total PA and Non-PA Households']=="  "]

,Substate/Region,Calc: SNAP Total PA and Non-PA Households,FIPS Code
159,0515992 AR EBT 92-1 Field Operations,,05159
160,0515996 AR EBT 96-1 Field Operations,,05159

In [255]:
#fill blank values
sjul21['Calc: SNAP Total PA and Non-PA Households'][sjul21['Calc: SNAP Total PA and Non-PA Households']=="  "]=0

In [256]:
sjul21['Calc: SNAP Total PA and Non-PA Households'] = pd.to_numeric(sjul21['Calc: SNAP Total PA and Non-PA Households'])

In [257]:
sjul21.dtypes

Substate/Region                              object
Calc: SNAP Total PA and Non-PA Households     int64
FIPS Code                                    object
dtype: object

In [258]:
sjul21 = sjul21.rename(columns={'Calc: SNAP Total PA and Non-PA Households': 'JUL21 SNAP Households'})

In [259]:
sjul21.head()

                    Substate/Region  JUL21 SNAP Households FIPS Code
0  0100101 AL EBT AUTAUGA CO FS OFF                   3522     01001
1  0100301 AL EBT BALDWIN CO FS OFF                   9311     01003
2  0100501 AL EBT BARBOUR CO FS OFF                   2778     01005
3     0100701 AL EBT BIBB CO FS OFF                   1696     01007
4   0100901 AL EBT BLOUNT CO FS OFF                   2911     01009

In [260]:
sjul21['FIPS Code'] = sjul21['FIPS Code'].astype(str)

In [261]:
sjul21.dtypes

Substate/Region          object
JUL21 SNAP Households     int64
FIPS Code                object
dtype: object

In [262]:
sjul21.describe(include='all')

                     Substate/Region  JUL21 SNAP Households FIPS Code
count                           2642           2.642000e+03      2642
unique                          2642                    NaN      2549
top     4003301 OK EBT COTTON COUNTY                    NaN     17031
freq                               1                    NaN        33
mean                             NaN           8.457490e+03       NaN
std                              NaN           4.654792e+04       NaN
min                              NaN           0.000000e+00       NaN
25%                              NaN           6.560000e+02       NaN
50%                              NaN           1.712500e+03       NaN
75%                              NaN           4.479750e+03       NaN
max                              NaN           1.608545e+06       NaN

In [265]:
sjul21[sjul21.duplicated(['FIPS Code'], keep=False)]

,Substate/Region,JUL21 SNAP Households,FIPS Code
4,0100901 AL EBT BLOUNT CO FS OFF,2911,01009
5,0100999 AL EBT AESAP - Alabama Dept. of HR,0,01009
159,0515992 AR EBT 92-1 Field Operations,0,05159
160,0515996 AR EBT 96-1 Field Operations,0,05159
531,1703100 IL EBT ILLINOIS,0,17031
...,...,...,...
2367,4992509 UT SSI Utah Dept. of Workforce Services,1380,49925
2368,5000004 VT EBT VT DPT OF SOC WEL,23065,50000
2369,5000004 VT SSI VT DPT OF SOC WEL,15322,50000
2375,5101308 VA EBT ARLINGTON CO DPW,4335,51013
2376,5101312 VA EBT Alleghany,1031,51013

#### JOIN ACP & SNAP DATA

In [245]:
df = pd.merge(sjul21,asep22, how='full outer join', on=['FIPS Code','FIPS'])

KeyError: 'FIPS Code'

In [73]:
#sjul20.head()

In [74]:
#sjan21.head()