### Research Question: What is the relationship between internet access benefit uptake and SNAP benefit uptake?

#### NOTES

Background from BDT: Lifeline is an older FCC program that helps make communications services more affordable for low-income consumers (source: https://www.fcc.gov/lifeline-consumers). There is a new FCC program called Affordable Connectivity Program (ACP) that helps ensure that households can afford the broadband they need for work, school, healthcare and more that replaced the Emergency Broadband Benefit (EBB) program. (source: https://www.fcc.gov/acp) Given ACP is newer and offers more benefits the priority is to look at ACP benefit enrollment versus SNAP benefit enrollment by geo (i.e. county). This will allow BDT to understand if there are specific regions where ACP enrollment is low relative to SNAP because being enrolled in SNAP is a qualifier for ACP. This comparison will need to use household data for SNAP because ACP is a household benefit.

Locations of Data: ACP data is available at https://www.usac.org/about/affordable-connectivity-program/acp-enrollment-and-claims-tracker/#enrollment-and-claims-by-zipcode-and-county for 2022 (and there is a data dictionary at https://www.usac.org/wp-content/uploads/about/documents/acp/Data-Dictionary.pdf). SNAP data is located at https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap.

Challenge: To understand current gaps it is ideal to look at the most recent data available and the lowest common geo granularity (county). ACP data is available at the county level and has very recent data available for this level- September 2022. SNAP data at the county level has a significant lag- most recent data is July 2021 (over a year older). This presents a gap in this analysis since a household enrolled in SNAP over a year ago may no longer be enrolled in SNAP or may have moved from that county. A comparison is made between the two but it is heavily caveated by the large time difference in the data points which may or may not provide useful directional trends. Also, it is recommended to redo this analysis with newer SNAP data once it is available.

Geography: BDT currently operates in these 7 states- Colorado, Maryland, Michigan, New York, North Carolina, Pennsylvania, and South Carolina.

Open Questions: The SNAP data divides persons and households into Public Assistance Participation and Non Public Assistance Participation. Currently the assumption is to use the combined Public Assistance Participation and Non Public Assistance Participation ("Calc: SNAP Total PA and Non-PA Households") to get the total households using SNAP. Is this valid?

#### DATA LOAD

In [89]:
#import libraries
import pandas as pd

In [90]:
#import data
acp=pd.read_excel ('../data-sources/acp/ACP-Households-by-County-January-September-2022.xlsx') #acp data
sjul21=pd.read_excel ('../data-sources/snap/Jul-2021.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2021 snap data
sjul20=pd.read_excel ('../data-sources/snap/Jul-2020.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2020 snap data
sjan21=pd.read_excel ('../data-sources/snap/Jan-2021.xls',skiprows=3,usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #January 2021 snap data

#### DATA EXPLORATION

In [91]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,1,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,1,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,1,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,1,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,1,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0

In [92]:
acp.describe(include='all')

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
count,29437,29437,29437,29437,29437.000000,29437,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000
unique,9,56,56,1967,NaN,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-07-01 00:00:00,TX,TEXAS,**NOT AVAILABLE**,NaN,**NOT AVAILABLE**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3280,2290,2290,483,NaN,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,31.400890,NaN,58.882691,-0.027824,16.534058,96.451299,171.840224,893.840156,2.115713,1517.046781,1265.441345,3678.443995
std,NaN,NaN,NaN,NaN,16.442176,NaN,361.515105,0.846077,318.228748,421.212930,741.299169,4182.876818,12.370113,5781.753065,5029.129687,13950.190310
min,NaN,NaN,NaN,NaN,1.000000,NaN,-1533.000000,-24.000000,-27109.000000,-3366.000000,-7237.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,-4.000000,4.000000,6.000000,1.000000,0.000000,87.500000,85.000000,222.000000
50%,NaN,NaN,NaN,NaN,30.000000,NaN,0.000000,0.000000,2.000000,18.000000,33.000000,25.000000,0.000000,337.000000,289.000000,817.000000
75%,NaN,NaN,NaN,NaN,46.000000,NaN,23.000000,0.000000,19.000000,61.000000,121.000000,462.000000,1.000000,1015.000000,858.000000,2555.500000
max,NaN,NaN,NaN,NaN,78.000000,NaN,20481.000000,45.000000,7861.000000,20929.000000,42768.000000,214701.000000,352.000000,195775.000000,211815.000000,574801.000000

In [93]:
#extract latest acp data (September 2022)
aSep22 = acp[acp['Data Month']=='2022-09-01 00:00:00']

In [94]:
aSep22.describe(include='all')

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
count,3279,3279,3279,3279,3279.000000,3279,3278.000000,3278.000000,3278.000000,3278.00000,3278.000000,3278.000000,3278.000000,3278.000000,3278.000000,3278.000000
unique,1,56,56,1963,NaN,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-09-01 00:00:00,TX,TEXAS,**NOT AVAILABLE**,NaN,**NOT AVAILABLE**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3279,255,255,53,NaN,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,31.395852,NaN,59.123551,-0.034472,17.890177,102.85540,179.834655,1134.332520,1.890177,1495.912447,1670.590299,4302.725442
std,NaN,NaN,NaN,NaN,16.459670,NaN,367.287648,0.704210,126.170093,382.13547,693.683249,5532.031873,12.799628,5469.331561,6347.155592,16053.760532
min,NaN,NaN,NaN,NaN,1.000000,NaN,-741.000000,-24.000000,-2002.000000,-222.00000,-375.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,-3.000000,4.00000,8.000000,1.000000,0.000000,86.000000,119.000000,260.000000
50%,NaN,NaN,NaN,NaN,30.000000,NaN,0.000000,0.000000,2.000000,19.00000,35.000000,21.000000,0.000000,345.500000,398.000000,980.000000
75%,NaN,NaN,NaN,NaN,46.000000,NaN,19.000000,0.000000,13.000000,68.00000,128.000000,570.500000,1.000000,1023.000000,1144.750000,3018.000000
max,NaN,NaN,NaN,NaN,78.000000,NaN,15690.000000,5.000000,3152.000000,8568.00000,25463.000000,214701.000000,328.000000,148277.000000,211815.000000,574801.000000

In [95]:
#trim acp
aSep22['State Name'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING', 'AMERICAN SAMOA', 'GUAM',
       'NORTHERN MARIANA ISLANDS', 'PUERTO RICO', 'VIRGIN ISLANDS'],
      dtype=object)

In [96]:
acp[acp['County Name']=='**NOT AVAILABLE**']['State Name'].unique()

array(['ALABAMA', 'ALASKA', 'AMERICAN SAMOA', 'ARIZONA', 'ARKANSAS',
       'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'FLORIDA',
       'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA',
       'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'NORTHERN MARIANA ISLANDS', 'OHIO', 'OKLAHOMA',
       'OREGON', 'PENNSYLVANIA', 'PUERTO RICO', 'RHODE ISLAND',
       'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH',
       'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN',
       'WYOMING', 'VIRGIN ISLANDS', 'DISTRICT OF COLUMBIA'], dtype=object)

In [97]:
sjul21.head()

                    Substate/Region Calc: SNAP Total PA and Non-PA Households
0  0100101 AL EBT AUTAUGA CO FS OFF                                      3522
1  0100301 AL EBT BALDWIN CO FS OFF                                      9311
2  0100501 AL EBT BARBOUR CO FS OFF                                      2778
3     0100701 AL EBT BIBB CO FS OFF                                      1696
4   0100901 AL EBT BLOUNT CO FS OFF                                      2911

In [98]:
sjul21.tail()

                     Substate/Region Calc: SNAP Total PA and Non-PA Households
2641  5600002 WY EBT WYOMING SD PASS                                     13496
2642                    U.S. Summary                                  22344689
2643                             NaN                                       NaN
2644                             NaN                                       NaN
2645                             NaN                                       NaN

In [99]:
#remove summary line
sjul21=sjul21[sjul21['Substate/Region'] != 'U.S. Summary']

In [100]:
#remove empty rows
sjul21=sjul21.dropna(how='all')

In [101]:
sjul21.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,185
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,555
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,102
2640,5515501 WI EBT POTAWATOMI TRIBE,18
2641,5600002 WY EBT WYOMING SD PASS,13496

In [103]:
#extract FIPS code
sjul21['FIPS Code']=sjul21['Substate/Region'].str[:5]

In [104]:
sjul21.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households,FIPS Code
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,185,55149
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,555,55151
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,102,55153
2640,5515501 WI EBT POTAWATOMI TRIBE,18,55155
2641,5600002 WY EBT WYOMING SD PASS,13496,56000

In [105]:
sjul21.dtypes

Substate/Region                              object
Calc: SNAP Total PA and Non-PA Households    object
FIPS Code                                    object
dtype: object

In [ ]:
sjul21["Calc: SNAP Total PA and Non-PA Households"] = pd.to_numeric(sjul21["Calc: SNAP Total PA and Non-PA Households"])

In [107]:
sjul21 = sjul21.rename(columns={'Calc: SNAP Total PA and Non-PA Households': 'JUL21 SNAP Households'})

In [110]:
sjul21["JUL21 SNAP Households"] = pd.to_numeric(sjul21["JUL21 SNAP Households"])

ValueError: Unable to parse string "  " at position 159

In [118]:
sjul21[159:]

                            Substate/Region JUL21 SNAP Households FIPS Code
159    0515992 AR EBT 92-1 Field Operations                           05159
160    0515996 AR EBT 96-1 Field Operations                           05159
161       0600105 CA EBT ALAMEDA COUNTY DSS                 82855     06001
162        0600302 CA EBT ALPINE COUNTY DSS                    61     06003
163        0600501 CA EBT AMADOR COUNTY DSS                  1549     06005
...                                     ...                   ...       ...
2637  5514901 WI EBT BAD RIVER TRIBAL COUNC                   185     55149
2638  5515101 WI EBT LAC DU FLAMBEAU TRIBAL                   555     55151
2639  5515301 WI EBT SOKAOGON TRIBAL AGENCY                   102     55153
2640        5515501 WI EBT POTAWATOMI TRIBE                    18     55155
2641         5600002 WY EBT WYOMING SD PASS                 13496     56000

[2483 rows x 3 columns]

In [117]:
sjul21['JUL21 SNAP Households']=sjul21['JUL21 SNAP Households'].fillna(0)

In [123]:
sjul21[sjul21['JUL21 SNAP Households']==" "]

Empty DataFrame
Columns: [Substate/Region, JUL21 SNAP Households, FIPS Code]
Index: []

In [73]:
#sjul20.head()

In [74]:
#sjan21.head()