### Research Question: What is the relationship between internet access benefit uptake and SNAP benefit uptake?

#### NOTES

Background from BDT: Lifeline is an older FCC program that helps make communications services more affordable for low-income consumers (source: https://www.fcc.gov/lifeline-consumers). There is a new FCC program called Affordable Connectivity Program (ACP) that helps ensure that households can afford the broadband they need for work, school, healthcare and more that replaced the Emergency Broadband Benefit (EBB) program. (source: https://www.fcc.gov/acp) Given ACP is newer and offers more benefits the priority is to look at ACP benefit enrollment versus SNAP benefit enrollment by geo (i.e. county). This will allow BDT to understand if there are specific regions where ACP enrollment is low relative to SNAP because being enrolled in SNAP is a qualifier for ACP. This comparison will need to use household data for SNAP because ACP is a household benefit.

Locations of Data: ACP data is available at https://www.usac.org/about/affordable-connectivity-program/acp-enrollment-and-claims-tracker/#enrollment-and-claims-by-zipcode-and-county for 2022 (and there is a data dictionary at https://www.usac.org/wp-content/uploads/about/documents/acp/Data-Dictionary.pdf). SNAP data is located at https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap.

Challenge: To understand current gaps it is ideal to look at the most recent data available and the lowest common geo granularity (county). ACP data is available at the county level and has very recent data available for this level- September 2022. SNAP data at the county level has a significant lag- most recent data is July 2021 (over a year older). This presents a gap in this analysis since a household enrolled in SNAP over a year ago may no longer be enrolled in SNAP or may have moved from that county. A comparison is made between the two but it is heavily caveated by the large time difference in the data points which may or may not provide useful directional trends. Also, it is recommended to redo this analysis with newer SNAP data once it is available.

#### DATA EXPLORATION

In [2]:
#import libraries
import pandas as pd

In [17]:
#import data
acp=pd.read_excel ('../data-sources/acp/ACP-Households-by-County-January-September-2022.xlsx') #acp data
sjul21=pd.read_excel ('../data-sources/snap/Jul-2021.xlsx',skiprows=3) #July 2021 snap data
sjul20=pd.read_excel ('../data-sources/snap/Jul-2020.xlsx',skiprows=3) #July 2020 snap data
sjan21=pd.read_excel ('../data-sources/snap/Jan-2021.xls',skiprows=3) #January 2021 snap data

In [18]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,1,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,1,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,1,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,1,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,1,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0

In [19]:
sjul21.head()

,Substate/Region,SNAP All Persons Public Assistance Participation,Unnamed: 2,SNAP All Persons Non-Public Assistance Participation,Unnamed: 4,Calc: SNAP Total PA and Non-PA People,Unnamed: 6,SNAP All Households Public Assistance Participation,Unnamed: 8,SNAP All Households Non-Public Assistance Participation,Unnamed: 10,Calc: SNAP Total PA and Non-PA Households,Unnamed: 12,SNAP All Total Actual PA & Non-PA Issuance,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0100101 AL EBT AUTAUGA CO FS OFF,1326,NaN,6301,NaN,7627,NaN,537,NaN,2985,NaN,3522,NaN,1732738.0,NaN,NaN,NaN,NaN
1,0100301 AL EBT BALDWIN CO FS OFF,2401,NaN,18158,NaN,20559,NaN,1084,NaN,8227,NaN,9311,NaN,4712514.0,NaN,NaN,NaN,NaN
2,0100501 AL EBT BARBOUR CO FS OFF,1130,NaN,4732,NaN,5862,NaN,491,NaN,2287,NaN,2778,NaN,1338038.0,NaN,NaN,NaN,NaN
3,0100701 AL EBT BIBB CO FS OFF,697,NaN,2785,NaN,3482,NaN,329,NaN,1367,NaN,1696,NaN,789856.0,NaN,NaN,NaN,NaN
4,0100901 AL EBT BLOUNT CO FS OFF,1069,NaN,5023,NaN,6092,NaN,555,NaN,2356,NaN,2911,NaN,1387811.0,NaN,NaN,NaN,NaN

In [21]:
sjul20.head()

,Substate/Region,SNAP All Persons Public Assistance Participation,Unnamed: 2,SNAP All Persons Non-Public Assistance Participation,Unnamed: 4,Calc: SNAP Total PA and Non-PA People,Unnamed: 6,SNAP All Households Public Assistance Participation,Unnamed: 8,SNAP All Households Non-Public Assistance Participation,Unnamed: 10,Calc: SNAP Total PA and Non-PA Households,Unnamed: 12,SNAP All Total Actual PA & Non-PA Issuance,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0100101 AL EBT AUTAUGA CO FS OFF,991,NaN,6733,NaN,7724,NaN,546,NaN,2968,NaN,3514,NaN,1339865.0,NaN,NaN,NaN,NaN
1,0100301 AL EBT BALDWIN CO FS OFF,1922,NaN,19305,NaN,21227,NaN,1149,NaN,8532,NaN,9681,NaN,3730082.0,NaN,NaN,NaN,NaN
2,0100501 AL EBT BARBOUR CO FS OFF,819,NaN,4922,NaN,5741,NaN,491,NaN,2222,NaN,2713,NaN,1016446.0,NaN,NaN,NaN,NaN
3,0100701 AL EBT BIBB CO FS OFF,502,NaN,2913,NaN,3415,NaN,303,NaN,1352,NaN,1655,NaN,606998.0,NaN,NaN,NaN,NaN
4,0100901 AL EBT BLOUNT CO FS OFF,836,NaN,5076,NaN,5912,NaN,544,NaN,2253,NaN,2797,NaN,1043530.0,NaN,NaN,NaN,NaN

In [22]:
sjan21.head()

,Substate/Region,SNAP All Persons Public Assistance Participation,Unnamed: 2,SNAP All Persons Non-Public Assistance Participation,Unnamed: 4,Calc: SNAP Total PA and Non-PA People,Unnamed: 6,SNAP All Households Public Assistance Participation,Unnamed: 8,SNAP All Households Non-Public Assistance Participation,Unnamed: 10,Calc: SNAP Total PA and Non-PA Households,Unnamed: 12,SNAP All Total Actual PA & Non-PA Issuance
0,0100101 AL EBT AUTAUGA CO FS OFF,1018,NaN,6896.0,NaN,7914.0,NaN,552.0,NaN,3028.0,NaN,3580.0,NaN,1654521.0
1,0100301 AL EBT BALDWIN CO FS OFF,1808,NaN,19375.0,NaN,21183.0,NaN,1106.0,NaN,8466.0,NaN,9572.0,NaN,4481075.0
2,0100501 AL EBT BARBOUR CO FS OFF,823,NaN,5084.0,NaN,5907.0,NaN,497.0,NaN,2279.0,NaN,2776.0,NaN,1254157.0
3,0100701 AL EBT BIBB CO FS OFF,527,NaN,2925.0,NaN,3452.0,NaN,329.0,NaN,1336.0,NaN,1665.0,NaN,724244.0
4,0100901 AL EBT BLOUNT CO FS OFF,870,NaN,5271.0,NaN,6141.0,NaN,551.0,NaN,2367.0,NaN,2918.0,NaN,1306088.0

In [23]:
#test